<launch>
	<param name="use_sim_time" type="bool" value="true"/>
	
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
	
	<include file="$(find didi_pipeline)/launch/tf.launch"/>
	
	<node name="didi_rviz" pkg="rviz" type="rviz" args="-d $(find didi_pipeline)/launch/display.rviz"/>
</launch>